<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark" >
        <div><a href="https://www.in28Minutes.com">in28Minutes</a></div>
        <ul class="navbar-nav">
            <li><a href="/welcome/in28Minutes" class="nav-link">Home</a></li>
            <li><a href="/todos" class="navbar-link"></a>Todos</li>

        </ul>

        <ul class="navbar-nav navbar-collapse justify-content-end">
            <li><a href="/login" class="nav-link">LogIn</a></li>
            <li><a href="/logout" class="nav-link">LogOut</a></li>

        </ul>

    </nav>
</header>